<div class="container">

  <div class="row mb-2">
  <div class="col-5">
    <h2>All Actors</h2>
  </div>
  <div class="col-7">
    <div class="d-flex justify-content-end">
      <button class="btn btn-success float-right create-actor" data-toggle="modal" data-target="#create-actor-modal">
        <i class="fas fa-plus mr-2"></i>Create New Actor
      </button>
    </div>
  </div>
</div>
  <h2 class="text-center">Our Actors</h2>
  <hr>
    {{#each actors}}
    <li "button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <span><b>Name: </b>{{this.firstName}} {{this.lastName}}</span>
    <div class="button-group">
      <button class="btn btn-sm btn-primary view-actor" data-toggle="modal" data-target="#view-actor-modal" data-id="{{ this.id }}" data-first_name="{{ this.firstName }}" data-last_name="{{ this.lastName }}"  
      ><i class="fas fa-eye mr-2"></i>View
      </button>
      <button type="button" class="btn btn-sm btn-warning update-actor" data-toggle="modal" data-target="#update-actor-modal" data-id="{{ this.id }}" data-first_name="{{ this.firstName }}" data-last_name="{{ this.lastName }}" 
      ><i class="fas fa-edit mr-2"></i>Update
      </button>
      <button class="btn btn-sm btn-danger delete-actor" data-toggle="modal" data-target="#delete-actor-modal" data-id="{{ this.id }}" data-first_name="{{ this.firstName }}" data-last_name="{{ this.lastName }}"><i class="fas fa-trash-alt mr-2"></i>Delete
      </button>
    </div>
    </li>
    {{/each}}
  </ul>
</div>

{{!-- Modal to create a new actor --}}
     <modal class="modal" tabindex="-1" role="dialog" id="create-actor-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create A New Actor</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="create-actor-form">
                <div class="form-row">
                  <div class="form-group col-6">
                    <label for="create-actor-first-name">First Name</label>
                    <input class="form-control" placeholder="Enter the first name..." type="text" id="create-actor-first-name"/>
                  </div>
                  <div class="form-group col-6">
                    <label for="create-actor-last-name">Last Name:</label><br />
                    <input class="form-control" type="text" placeholder="Enter the last name..." id="create-actor-last-name"/>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create Actor</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </modal>
    

{{!-- Modal to view a selected actor --}}
<div class="modal" id="view-actor-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Actor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="view-actor-first-name">First Name:</label>
            <input type="text" class="form-control" id="view-actor-first-name">
          </div>
          <div class="form-group col-6">
            <label for="view-actor-last-name">Last Name:</label>
            <input type="text" class="form-control" id="view-actor-last-name"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Modal to update a selected actor --}}
<modal class="modal" id="update-actor-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Actor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="update-actor-form">
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" id="update-actor-id" class="form-control" required/>
          </div>
          <div class="form-row">
            <div class="form-group　col-6">
              <label for="update-actor-first-name">First Name:</label>
              <input type="text" class="form-control" id="update-actor-first-name">
            </div>
            <div class="form-group　col-6">
              <label for="update-actor-last-name">Last Name:</label>
              <input type="text" class="form-control" id="update-actor-last-name"></input>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Actor</button>
        </div>
      </form>
    </div>
  </div>
</modal>

{{!-- Delete confirmation Modal --}}
    <modal class="modal" id="delete-actor-modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm delete</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="delete-modal-body"></div>
          <div class="modal-footer">
            <form id="delete-actor-form">
              <input
              type="hidden"
              id="delete-actor-id"
              class="form-control"
              required
            />
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger">Delete</button> 
            </form>
           </div>
        </div>
      </div>
    </modal>
